*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: montserrat;
}
header{
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #8a2be2;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: monteserrat;
    margin: 0;
    padding: 0;
    align-items: center;
    overflow-x: hidden;
}
article img{
    height: 15rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #888888;
    
}
header button{
    margin-top: 1rem;
    font-size: 1.15rem;
    padding: 1rem;
    width: 15%;
    height: 15%;
    background-color: #8a2be2;
    border: 0;
    padding: 0.625rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    float: left;
    font-size: 1.2rem;
}
#grafica{
    font-family: playball;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    color: #ffffff;
    text-align: center;
   
}
#mundodalua{
    font-family: montserrat;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    color: #ffffff;
}
#bloco_nome{
    width: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    float: right;   
}
button:hover{
    background-color: #a34cf5;
}
.main{
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    gap: 1.25rem;
    padding: 1.25rem;
    flex: 1;
}
.personaliza{
    background-color: #c7c5c53b;
}
.box{
    margin: 0.1rem;
    justify-content: center;
    text-align: center;
    display: inline-block;
    border: 0.1rem solid black;
    width: 50%;
    height: 100%;
    padding: 0.5rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #727171;
    border-radius: 1.5rem;
    font-size: 1.5rem;
}
h3, p{
    margin-top: 0.5rem;
    text-align: justify;
}
textarea{
    padding: 0.5rem;
    place-content: justify;
    border-radius: 1rem;
    border: 0.1rem solid #888888;
    width: 80%;
    height: 15rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #888888;
    font-family: montserrat;
    resize: none;
}
::placeholder{
    font-family: montserrat;
    font-size: 1.1rem;
}
.form-check{
    text-align: justify;
}
#logoL{
    width: 5%;
    height:5%;
}
#logoW{
    width: 14%;
    height: 10%;
}
#logoI{
    width: 10%;
    height: 4%;
}

.justify-content-around{
    display:inline-flex;
    justify-content:space-around;

}
.justify-content-around p{
    margin-left: -5rem;
    margin-top: 0.6rem;
}

.submit-btn {
    font-size: 1.125rem;
    margin-top: 1.3rem;
    width: 50%;
    background-color: #0fa40f;
    border: 0;
    padding: 0.625rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
.preco-btn{
    font-size: 1.125rem;
    width: 40%;
    margin-left: 4rem;
    background-color: #13a913;
    border: 0;
    padding: 0.625rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
.quanti{
    width: 40%;
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.938rem;
}
.quanti input{
    margin-left: 0.5rem;
    width: 3.75rem;
    padding: 0.2rem;
    border: 0.1rem solid #ccc;
    border-radius: 0.5rem;
}
.description{
    margin-top: 0.5rem;
}
.escolha-montag {
    margin-top: 0.5rem;
    display: flex;
    margin-bottom: 1rem;
    gap: 1rem;
}
#espaco{
    margin-top: 1.5rem;
}
#preRodape{
    height: 3rem;
    width: 100vw;
    background-color: #A45AE8;
    
}
#rodape{
    width: 100vw;
    height: 13rem;
    background-color: #8a2be2;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5.0rem;
    padding-right: 5.0rem;
    gap: 3.5rem;
    justify-content: center;
    align-items: center;
}
footer section h3 {
    font-family: fredoka;
    font-size: 1.5rem;
    color: #ffffff;
    margin: 0;

}
footer section p{
    font-family: montserrat;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 400;
    margin: 0.8rem;
}
footer section a{
    font-family: montserrat;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 400;
    text-decoration: none;
    

}
.redessociais{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
    margin-bottom: 0.5rem;

}
.redessociais img{
    width: 2.5rem;
    height: 2.5rem;
    margin: 0;
    padding: 0;
}
footer{
    justify-content: center;
    align-items: center;
}