*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: montserrat;
}
header, footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #8a2be2;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: monteserrat;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
}
header button{
    margin-top: 1rem;
    font-size: 1.15rem;
    padding: 1rem;
    width: 15%;
    height: 15%;
    background-color: #8a2be2;
    border: 0;
    padding: 0.625rem;
    border-radius: 0.5rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    align-items: center;
    float: left;
    font-size: 1.2rem;
}
#grafica{
    font-family: playball;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
    color: #ffffff;
    text-align: center;
   
}
#mundodalua{
    font-family: montserrat;
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    color: #ffffff;
}
#bloco_nome{
    width: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    float: right;   
}
button:hover{
    background-color: #a34cf5;
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #fff;
}

.personaliza{
    background-color: #c7c5c53b;
}
.box {
    width: 80%;
    max-width: 40rem; 
    background-color: #c7c5c53b;
    padding: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem #727171;
    border-radius: 1.5rem;
    border: 0.1rem solid black;
    text-align: center;
}
h3, p{
    margin-top: 0.5rem;
    text-align: justify;
}
::placeholder{
    font-family: montserrat;
    font-size: 1.1rem;
}
.payment-methods {
    margin-top: 0.5rem;
    display: flex;
    margin-bottom: 1rem;
}
#logoL{
    width: 5%;
    height:5%;
}
#logoW{
    width: 14%;
    height: 10%;
}
#logoI{
    width: 15%;
    height: 5%;
}

.justify-content-around{
    display:inline-flex;
    justify-content:space-around;

}
.justify-content-around p{
    margin-left: -5rem;
    margin-top: 0.6rem;
}

.submit-btn {
    font-size: 1.125rem;
    margin-top: 3rem;
    width: 50%;
    background-color: #0fa40f;
    border: 0;
    padding: 0.625rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.2rem;
    cursor: pointer;
}
.payment-methods {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
}