@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
}
@font-face{
    font-family: fredoka;
    src: url(/fontes/Fredoka-VariableFont_wdth\,wght.ttf);
}
.fonte{
    font-family: fredoka;
    font-weight: 700;
    font-size: 1.6rem;
}
aside{
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    float: right;
    max-width: 50%;
    max-height: 100%;
}
.container{
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
#logo{
    max-width: 100%;
    max-height: 25%;
}
.pagamento{
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    max-width: 50%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pagamento img{    
    max-width: 30%;
    max-height: 30%;
}
h2{
    margin: 0.3rem;
    font-size: 0.9rem;
    text-decoration: underline;
    text-align: left;
}
.texto{
    text-align: center;
    padding: 0.3rem;
    margin: 0.5rem;
}
.atencao{
    border: 0.1rem solid red;
    border-radius: 0.6rem;
    padding: 0.4rem;
    margin: 0.5rem;
    color: red;
    text-align: center;
    width: 80%;
    height: 80%;
}
a{
    color: black;
}
