*{
    box-sizing: border-box;
}
.pagamento{
    padding-top: 5rem;
}

h3{
    font-size: 1.7rem;
    text-align: center;
    margin-left: 1.5rem;
    color: blueviolet;
}
h5{
    font-size: 1.3rem;
}
#voltar{
    padding-top: 0.8rem;
    padding-left: 0.8rem;
    font-weight: 400;
}
#map{
    align-items: center;
    padding-left: 2.5rem;
}