*{
    box-sizing: border-box;
}
html{
    font-size: 1px;
}
body{
    margin: 0;
}
header{
    width: 100vw;
    height: 120rem;
    background-color: #8a2be2;
    padding-left: 200rem;
    padding-right: 200rem;
    display: flex;
    align-items: center;
    
}
#grafica{
    font-family: playball;
    font-size: 23rem;
    font-weight: 400;
    margin: 0;
    color: #ffffff;
    text-align: center;
    text-shadow: -4rem 5rem 6rem #1379bd ;
    -webkit-text-stroke: 0.3rem #1379bd;
   
}
#mundodalua{
    font-family: montserrat;
    font-size: 25rem;
    font-weight: 700;
    margin: 0;
    color: #ffffff;
    text-shadow: -4rem 5rem 6rem #1379bd ;
    -webkit-text-stroke: 0.3rem #1379bd;


}
#bloco_nome{
    width: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    
   
}