*{
    box-sizing: border-box;
}
html{
    font-size: 1px;
}
body{
    margin: 0;
}
header{
    width: 100vw;
    height: 120rem;
    background-color: #8a2be2;
    padding-left: 200rem;
    padding-right: 200rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 140rem;
    justify-content: center;

    
}
#grafica{
    font-family: playball;
    font-size: 25rem;
    font-weight: 400;
    margin: 0;
    color: #ffffff;
    text-align: center;
    text-shadow: -4rem 5rem 10rem #1379bd ;
    -webkit-text-stroke: 0.3rem #1379bd;
   
}
#mundodalua{
    font-family: montserrat;
    font-size: 27rem;
    font-weight: 700;
    margin: 0;
    color: #ffffff;
    text-shadow: -3rem 5rem 10rem #1379bd ;
    -webkit-text-stroke: 0.3rem #1379bd;


}
#bloco_mundoDaLua{
    width: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    
}
#bloco_pesquisa{
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    
    
}
#barradepesquisa{
    width: 420rem;
    height: 39rem;
    display: inline-block;
    border-radius: 60rem 0rem 0rem 60rem;
    border: 0cap;
    padding-left: 15rem;
    font-size: 15rem;

}
#botaoPesquisar{
    width: 52rem;
    height: 39rem;
    border-radius: 0rem 60rem 60rem 0rem;
    border: 0cap;
    background-color: #6F1ABD;
}
#imagemLupa{
    width: 28rem;
    height: 27rem;
}
#bloco_perfil{
    height: fit-content;
    width: fit-content;
    font-size: 15rem;
    display: flex;
    gap: 10rem;
    font-family: fredoka;
    color: #ffffff;
    align-items: center;
}
#imgperfil{
    width: 70rem;
    height: 70rem;
    
}
#avisoPerfil{
    color: #E22BDE;
}
#bloco_carrinho{
    height: fit-content;
    width: fit-content;
    font-size: 20rem;
    font-family: fredoka;
    color: #E22BDE;
    align-items: center;

    
}
#imgcarrinho{
    width: 70rem;
    height: 70rem;
    display: block;
    margin: 0;

}

  
#bloco_carrinho h3 {
    margin: 0;
  
}
 
nav{
    height: 4.5vh;
    width: 100vw;
    padding-left: 200rem;
    padding-right: 200rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 500rem;
    border-bottom: 1.8px solid #8a2be2  ;
    
}
#corCategoria{
    color: #E28A2B;
    font-family: montserrat;
    font-size: 15rem;
    font-weight: 550;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#corCategoria img{
    height: 25rem;
    padding: 0;
    margin: 0;
    
}
#corCategoria p{
    padding: 0;
    margin: 0;
}
.palavrasNav{
    font-weight: 550;
    font-size: 17rem;
    color: #8a2be2;
    font-family: montserrat;

}
