@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
    font-family: minhafonte;
    src: url(/fontes/Montserrat-VariableFont_wght.ttf);
}
.montserrat{
    font-family: minhafonte;
}