*{
    box-sizing: border-box;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 5vw;
    background-color: #8a2be2;
}
header, footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #8a2be2;
    color: #fff;
    padding: 1rem;
    text-align: center;
    font-weight: 700;
}
.submit-btn a{
    text-decoration: none;
}

#grafica{
    font-family: playball;
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0;
    color: #ffffff;
    text-align: center;
    text-shadow: -0.3rem 0.3125rem 0.625rem #1379bd;
    -webkit-text-stroke: 0.02rem #1379bd;
    
}
#mundodalua{
    font-family: montserrat;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    color: #ffffff;
    text-shadow: -0.2rem 0.3125rem 0.625rem #1379bd;
    -webkit-text-stroke: 0.02rem #1379bd;

}
#bloco_nome{
    max-width: 20%;
    max-height: 10%;
    width: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    float: left;   
}
.usuario img{
    margin-top: rem;
    width: 5.5rem;
    filter: invert(1);
    float: left;
}
.usuario p{
    text-align: justify;
}
.usuario a{
    color: #de2cdc;
    text-decoration: none;
}
.carrinho a{
    color: #de2cdc;
    text-decoration: none;
}
.carrinho p{
    margin-top: -0.5rem;
    font-size: 1.2rem;
}
.carrinho img{
    width: 3.5rem;
}
a:active{
    color: #de2cdc;
}
.carrinho{
    align-items: center;
    text-align: center;
}
.usuario{
    display: inline-block;
}
.compra-btn{
    width: 35%;
    display: block;
    margin: 0 auto;
}
nav{
    height: 5vh;
    width: 100vw;
    padding-left: 10.0rem;
    padding-right: 10.0rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 32.0rem;
    border-bottom: 1.8px solid #8a2be2;
    font-family: 1rem;
    font-weight: 550;
}
#corCategoria{
    color: #E28A2B;
    font-family: montserrat;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#corCategoria img{
    height: 2rem;
    padding: 0;
    margin: 0;
    
}
#corCategoria p{
    padding: 0;
    margin: 0;
}
.palavrasNav{
    color: #8a2be2;
    font-family: montserrat;
}
.quanti{
    padding-top: 2rem;
    margin: 0 auto;
    margin-bottom: 6rem;
}
.submit-btn{
    margin-top: 1rem;
}
#logoL{
    width: 5%;
    height:5%;
}
#logoW{
    width: 14%;
    height: 10%;
}
#logoI{
    width: 5%;
    height: 2%;
}

.justify-content-around{
    display:inline-flex;
    justify-content:space-around;

}
.justify-content-around p{
    margin-left: -5rem;
    margin-top: 0.6rem;
}